@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    font-family: 'Roboto Mono', monospace;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}

::-webkit-scrollbar-track {
    background-color: white;
    width: 1px;
}

/*css for date and time starts here*/
.clockdate-wrapper {
    margin-bottom: -40vw;
    padding-top: 30px;
    padding: 30px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    margin: 0;
}

#clock {
    margin-top: 3rem;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    text-shadow: 0px 0px 1px #050505;
    color: #000000;
}

#clock span {
    color: #090909;
    text-shadow: 0px 0px 1px #333;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    position: relative;

    left: -13px;
}

#date {
    letter-spacing: 10px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}

/*css for clock and date ends here*/

/*todo list container csss*/

.container {
    margin: 5rem auto 26rem;
    padding: 40px 30px 70px;
    width: auto;
    max-width: 580px;
    border-radius: 30px;
    box-shadow: #888;
    background-color: white;
}

h3 {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    font-size: 1.5vw;
    margin-top: -15px;
    margin-left: 11rem;

}

h3 img {
    width: 28px;
    margin-left: 1rem;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2e0e0cf;
    border-radius: 30px;
    padding: 0.2vw;
    width: 32.6rem;
    padding-right: 70px;
    margin-top: 2vw;
    margin-right: 2.8rem !important;
    margin-left: -0.2rem;
}


/*input box and button css*/
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 13px;
    margin-left: 1.8rem;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    margin-left: 10vw;
    background: orangered;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: rgb(255, 162, 0);
    transition: 0.3s ease;
}

/* task list css */

ul li {
    margin-top: 1rem;
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(assets/checked.png);

}


ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

ul li span:hover {
    color: white;
    background: rgb(255, 0, 0);
    transition: 0.3s ease;

}

/* and thatsss it....*/


@media (max-width : 600px) {

    body {
        font-size: 40px;
    }

    .clockdate-wrapper {
        margin-bottom: -20vw;
    }

    #clock {
        font-size: 40px;
    }

    #clock span {
        font-size: 20px;
        left: -8px;
    }

    #date {
        font-size: 10px;
    }

    .container {
        width: auto;
        margin: 2rem auto 6rem;
        margin-top: 8rem;
        padding: 20px 50px 30px;
        border-radius: 20px;
    }

    h3 {
        font-size: 18px;
        margin-left: 2rem;
    }

    h3 img {
        font-size: 20px;
        margin-left: 2rem;
    }

    .row {
        width: auto;
        padding-right: 20px;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 0;
    }

    input {
        padding: 10px;
        margin-left: 1rem;
    }

    button {
        padding: 12px 30px;
        margin-left: 20%;
        font-size: 14px;
        border-radius: 30px;
    }


    ul li {
        font-size: 14px;
        padding: 10px 6px 10px 40px;
    }

    ul li:before {
        height: 20px;
        width: 20px;
        top: 8px;
        left: 6px;
    }

    ul li span {

        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;

    }
}